/* @font-face {
    font-family: Roboto;
    src: url("font/transfonter.org-20251120-091613/BBHSansHegarty-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    
}
body {
     font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 260px 2fr 350px;
    grid-template-rows: 200px auto;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main main"
            
}

.sidebar-item {
    display: grid;
    grid-auto-flow: row;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.sidebar {
    background-color: rgba(36, 137, 196, 0.973);
    grid-area: sidebar;
}

.dashboard-icon {
    height: 60px;
    width: 60px;
}

.dashboard-header > img {
    filter: invert(1);
}

.dashboard-header {
    font-family: Roboto;
    letter-spacing: 3px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
}

.sidebar-nav {
    padding-left: 10px;
}
.dashboard-header > h2 {
    align-self: center;
}

.nav-icon {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 10px;
}

.nav-icon > p {
    margin-left: 10px;
    align-self: center;
}


.nav-icon > img {
    filter: invert(1);
}
.sidebar-nav > ul> li {
    font-family: Roboto;
    color: white;
    font-size: 1em;
    font-weight: none;
    letter-spacing: 2px;
    list-style-type: none;
}
.nav-icon {
    width: 40px;
}


.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 80px 80px ;
    padding-left: 26px;
    gap: 10px;
    justify-items: center;
    box-shadow: 1px 1px 5px rgb(70, 75, 77);
}

.item-1 {
    width: 100%;
    /* background-color: red; */
    grid-column-start: 1;
    grid-column-end:  2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.search {
    display: grid;
    justify-items: start;
}

.search-icon {
    display: grid;
    align-self: center;
    grid-template-columns: 50px 1fr;
    
}
.search-icon > img {
    justify-self: center;
    width: 34px;
    height: 26px;
    
}
.search-icon > input {
    border: none;
    border-radius: 8px;
    width: 650px;
    height: 30px;
    justify-self: center;
    background-color: rgba(180, 217, 211, 0.724);
}

.user-container {
    padding-left: 60px;
    display: grid;;

}

.user-info {
    display: grid;
    padding-left: 64px;
    grid-template-columns: 50px 50px 1fr;
    gap: 7px
}
.user-info-iconbell {
    align-self: center;
}

.user-info-iconbell  > img{
    width: 34px;
    height: 26px;
    
}

.user-profile > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.user-profile {
    align-self: center;
}

.user-profile-name {
    align-self: center;
}

.item-2 {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
}

.profile-introduction {
    display: grid;
    grid-template-columns: 78px 1fr;
    padding-left: 26px;
    
}
.profile-introduction-img {
    align-self: center;
}

.profile-sentence {
    align-self: center;
}
.profile-introduction-img > img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.profile-sentence > p {
    font-family: Roboto;
}
.item-3 {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2;

}

.header-btn-container {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    gap: 25px
}

.btn {
    color: white;
    background-color: rgba(86, 130, 223, 0.97);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 36px;
    padding-left: 36px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
}

.header-btn {
    align-self: center;
}

.item-4 {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 2;
} 

button:hover {
    cursor: pointer;
    background-color: rgb(91, 113, 113);
    color: black;
}

.main-content {
    /* background-color: rgb(116, 116, 45); */
    grid-area: main;
}
