/* @font-face {
    font-family: Roboto;
    src: url("font/transfonter.org-20251120-091613/BBHSansHegarty-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    
}
body {
     font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 260px 2fr 350px;
    grid-template-rows: 80px auto;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main right"    
}

.sidebar-item {
    display: grid;
    grid-auto-flow: row;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.sidebar {
    background-color: rgba(36, 137, 196, 0.973);
    grid-area: sidebar;
}

.dashboard-icon {
    height: 60px;
    width: 60px;
}

.dashboard-header > img {
    filter: invert(1);
}

.dashboard-header {
    font-family: Roboto;
    letter-spacing: 3px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
}

.sidebar-nav {
    padding-left: 10px;
}
.dashboard-header > h2 {
    align-self: center;
}

.nav-icon {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 10px;
}

.nav-icon > p {
    margin-left: 10px;
    align-self: center;
}


.nav-icon > img {
    filter: invert(1);
}
.sidebar-nav > ul> li {
    font-family: Roboto;
    color: white;
    font-size: 1em;
    font-weight: none;
    letter-spacing: 2px;
    list-style-type: none;
}
.nav-icon {
    width: 40px;
}


.header {
    background-color: rgb(60, 104, 89);
    grid-area: header;
}

.main-content {
    background-color: rgb(116, 116, 45);
    grid-area: main;
}

.right-pannel {
    background-color: blue;
    grid-area: right;
}